<form action="/session/create" method="POST" class="form-signin">

	<h3>Please sign in..</h3>

	<% if(flash && flash.err) { %>
		<% Object.keys(flash.err).forEach(function(error) { %>
		<!-- <p class="alert alert-danger"><%- JSON.stringify(flash.err[error]) %></p> -->
		<p class="alert alert-danger"><%- JSON.stringify(flash.err[error]) %></p>
		<% }) %>
	<% } %>

	<input type="text" class="form-control" placeholder="Email address" name="email">
	<input type="password" class="form-control" placeholder="Password" name="encryptedPassword">
	<p>Don't have an account? <a href="/user/new">Sign up for free</a></p>
	<input type="submit" class="btn btn-default" value="Sign-in">
	<input type="hidden" value="<%= _csrf %>" name="_csrf">


</form>