<form action="/user/create" method="POST" class="form-signin">

    <h3>Create a new account..</h3>

    <% if(flash && flash.err) { %>
    <ul class="alert alert-success">
        <% Object.keys(flash.err).forEach(function(error) { %>
        <li><%- JSON.stringify(flash.err[error]) %></li>
        <% }) %>
    </ul>
    <% } %>

    <input type="text" class="form-control" placeholder="Your name" name="name">
    <input type="text" class="form-control" placeholder="Company name" name="companyName">
    <input type="text" class="form-control" placeholder="Email address" name="email">
    <input type="password" class="form-control" placeholder="Password" name="encryptedPassword">
    <input type="submit" class="btn btn-success center-block col-xs-12" value="Sign Up"><br>
    <p style="text-align:center;margin-top:30px;">Already have an account? <a href="/session/new">Sign in</a></p>
    <input type="hidden" value="<%= _csrf %>" name="_csrf">


</form>
