<form action="/user/create" method="POST" class="form-signin">

    <h3>Create a new account..</h3>

    <% if(flash && flash.err) { %>
    <ul class="alert alert-success">
        <% Object.keys(flash.err).forEach(function(error) { %>
        <li><%- JSON.stringify(flash.err[error]) %></li>
        <% }) %>
    </ul>
    <% } %>

    <input type="text" class="form-control" placeholder="Email address" name="email">
    <input type="password" class="form-control" placeholder="Password" name="encryptedPassword">
    <p>Already have an account? <a href="/session/new">Sign in</a></p>
    <input type="submit" class="btn btn-success" value="Sign Up">
    <input type="hidden" value="<%= _csrf %>" name="_csrf">


</form>
